@model IEnumerable<AYPatients.Models.MedicationType>

@{
    ViewData["Title"] = "Index of medication type on file ";
}

<h1>Med Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                <a asp-controller="AYMedication" asp-action="index"  asp-route-medicationTypeId="@item.MedicationTypeId" >@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <!--if pass asp-route-id="@@item.MedicationTypeId"",url will be index/3,index/5....-->
            <td>
            <a asp-action="Edit" asp-route-id="@item.MedicationTypeId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.MedicationTypeId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.MedicationTypeId">Delete</a>
        </td>
        </tr>
}
    </tbody>
</table>
